.info {
  position: fixed;
  top: 0;
  left: 0;
  border: 2px solid black;
  border-radius: 20px;
  background-color: antiquewhite;
  margin: 20px;
  z-index: 99;
}

.collapsed {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30px;
  width: 30px;
}

.expanded {
  padding: 20px;
  width: 300px;
}

.filter {
  position: fixed;
  top: 0;
  left: 50px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: antiquewhite;
  margin: 20px;
  padding: 5px;
  z-index: 98;
}
